<html lang="en">
<body>
    <h1>
        <meta http-equiv="refresh" content="60">
        <link href="style.css" rel="stylesheet" type="text/css" />
        Ocean AI
    </h1>
    <div>
        <% files.forEach(images => { %>
          <img src = "<%= images %>" />
        <% }) %>
    </div>
    <div class="APIS">
        <h2>Available API Calls</h2>
        <hr /><p> GET Sessions </p>
        <p>
          <form action="/get_session" method="GET">
            <label>Get Available Session: </label>
            <!-- Creating the submit button -->
            <button>Submit</button>
          </form>
        </p>
        <% if(sessions.length > 0){ %>
            <% sessions.forEach(session => { %>
                <h3> Session Name: <%= session.name%> </h3>
                <p> Activity: <%= session.kernel.last_activity%> </p>
                <p> Status: <%= session.kernel.execution_state%> </p>
            <% }) %>
        <% } else { %>
            <p>Currently No Session Available</p>
        <% } %>
    </div>
</body>
</html>
